# What is a function in python?

In Python, a function is a block of reusable code that performs a specific task or set of tasks. Functions help in organizing code, making it more modular, readable, and maintainable.
def keyword is used to define a function

In [1]:
def add_num(a,b):
    return a + b

In [4]:
obj = add_num(2,3)  ## object creation for the function and passing the attributes as well

In [5]:
print(obj)

5

In [6]:
obj_2 = add_num(6,7)
print(obj_2)

13

In [7]:
"""we can use the same peice of code multiple times by creating different objects and hence
it makes a code reusable"""

'we can use the same peice of code multiple times by creating different objects and hence\nit makes a code reusable'

Example 1: pass a list to get to sum of all the elements

In [9]:
my_list = [2,3,47,9,10]

In [10]:
def sum_list(my_list):
    a = sum(my_list)
    return a

In [11]:
obj = sum_list(my_list)

In [12]:
print(obj)

71

Example 2: Find the elements from the list that starts with "a"

In [68]:
str_list = ["Deb", "Philipp", "Suman", "Anja", "Ajay"]

In [69]:
def str_a(my_list):
    list_a = []
    for i in my_list:
        a = list(i)
        if a[0] == "a" or a[0] == "A":
            list_a.append(i) 
    return list_a

In [70]:
obj = str_a(str_list)

print(obj)

['Anja', 'Ajay']

Practice Example 1: From the below dictionary return the keys that have even values

In [82]:
dict_new = {"a" : 2, "b" : 3, "c" : 6, "d" : 90, "e" : 57, "f": 101}

In [83]:
def even_dict(dict_):
    my_list = []
    for i,j in dict_.items():
        if j%2 == 0:
            my_list.append(i)
    return my_list

In [84]:
obj = even_dict(dict_new)

print(obj)

['a', 'c', 'd']

Practice 2: from the above dictionary get the keys with even values and return a new dictionary with its corresponding squared values

Hint : Use the output of the previous function to evaluate this task

In [86]:
def sqr_dict_even(dict_):
    
    new_dict = {}
    
    obj = even_dict(dict_)
    
    for i,j in dict_.items():
        if i in obj:
            val = j**2
            new_dict[i] = val
            
    return new_dict

In [87]:
obj = sqr_dict_even(dict_new)

print(obj)

{'a': 4, 'c': 36, 'd': 8100}

# What is lambda function?

a lambda function is a concise way to create anonymous or unnamed functions. It is defined using the lambda keyword, followed by a list of parameters, a colon (:), and an expression.

In [31]:
x = 4

In [32]:
square = lambda x:x**2

In [33]:
print(square(4))

16

In [16]:
"""Lambda function can be integrated with the map function"""

"""A map function is a in-built function with maps a lambda function or a normal funtion with 
a sequence and it works on all the elemenents of the sequence"""

'A map function is a in-built function with maps a lambda function or a normal funtion with \na sequence and it works on all the elemenents of the sequence'

Example 1: Find the square of all the element of a list and return a list with all the corresponding squares

In [34]:
my_list = [2,4,5,7,8]

In [35]:
square = list(map(lambda x: x**2 , my_list))

In [36]:
print(square)

[4, 16, 25, 49, 64]

Example 2: Get the odd numbers from the above list

In [47]:
"""Lambda function an also be used along with filter function to filter out certain values as 
per the condition set in the lambda function"""

'Lambda function an also be used along with filter function to filter out certain values as \nper the condition set in the lambda function'

In [48]:
odd_num = list(filter(lambda x: x % 2 != 0, my_list))

In [49]:
print(odd_num)

[5, 7]

In [1]:
"""Lambda function can be used with multiple parameters and also with conditional statements"""

'Lambda function can be used with multiple parameters and also with conditinal statements'

In [5]:
 i,j = 3 , 4

In [6]:
add = lambda x,y: x+y ##Using multiple parameters

In [7]:
print("addition result is ", add(i,j))

addition result is  7

In [23]:
str_list = ["Deb", "Antony", "Philipp", "Suman", "Anja", "Ajay"]

In [27]:
'''Using conditional statements'''

start_a = lambda x: x if list(x)[0] == 'a' or list(x)[0] == 'A' else None

In [28]:
name_start_a = list(filter(start_a, str_list))

In [29]:
name_start_a

['Antony', 'Anja', 'Ajay']

Practice Example 1: Using lambda function find the names that has less than 5 letters from the above list

In [31]:
less_5 = list(filter(lambda x: x if len(list(x)) < 5 else None , str_list))

In [32]:
less_5

['Deb', 'Anja', 'Ajay']