# What is python?

Python is a programming language created by Guido van Rossum, and released in 1991. 
It is an open-source, interpreted, object-oriented, high-level programming language.

# Few purposes for which python is used are :

1) web development (server-side)
2) software development
3) mathematics
4) system scripting
5) Data Analysis
7) Process Automation
8) Data Science and Machine Learning

# What is Anaconda?

Anaconda is a distribution of the Python and R programming languages for scientific computing (data science, machine learning applications, large-scale data processing, predictive analytics, etc.). It is free to download and install. 

Anaconda contains the below things:
    
1) conda - a package and environment manager for your command line interface

2) Anaconda Navigator - a desktop application built on conda, with options to launch other development applications from your managed environments

3) 250 automatically-installed packages that work well together out of the box

4) access to the Anaconda Public Repository, with 8000 open-source data science and machine learning packages

# How to install Anaconda?

1) Download the Anaconda installer.

2) Go to your Downloads folder and double-click the installer to launch.

3) Click Next and then after reading the licensing terms, click I Agree.

4) It is recommended that you install for Just Me, which will install Anaconda Distribution to just the current user account. Only select an install for All Users if you need to install for all users’ accounts on the computer (which requires Windows Administrator privileges) and you are done with it click Next.

5) Select a destination folder to install Anaconda and click Next. Install Anaconda to a directory path that does not contain spaces or unicode characters.

6) We don’t recommend adding Anaconda to your PATH environment variable, since this can interfere with other software. Unless you plan on installing and running multiple versions of Anaconda or multiple versions of Python.

7) Click Install. If you want to watch the packages Anaconda is installing, click Show Details and then click next

8) After a successful installation you will see the “Thanks for installing Anaconda” dialog box.

# How to Verify Anaconda installation?

1) Using Anaconda navigator --> Anaconda Navigator is a graphical user interface (GUI) that is automatically installed with Anaconda. 

    Windows: Click Start, search for Anaconda Navigator, and click to open.

    macOS: Click Launchpad and select Anaconda Navigator. Or use Cmd+Space to open Spotlight Search and type “Navigator” to open the program.
    
2) Using CLI:
    
After opening Anaconda Prompt or the terminal, choose the following methods to verify:

    First enter "conda --version" command. If Anaconda is installed properly it will display the version.
    Secondly, Enter "conda list" command. If Anaconda is installed and working, this will display a list of installed packages and their versions.

# Say Hello to the world with python

In [1]:
print("Hello World")

Hello World

In [3]:
var = 'Hello World' #Declaring the string inside a variable (var)
print(var)

Hello World

# How to save a run a python file?

1) Save the File:

Save the file with a .py extension. For example, you can save it as hello_world.py.
If you are using Jupyter notebook to write your code it will generate a .ipynb notebook file by default but you have the option to generate and download a .py python file by clicking on the "File" menu at top left and the hovering over the "Download as" option and the clicking on Python(.py) option.

2) Run the Program:

Open a terminal or command prompt, navigate to the directory where you saved the hello_world.py file, and then run the script using the following command:
    
    python hello_world.py
    
You can also navigate to the file using Anaconda Prompt and then run the same above command.

# Variables and Data Types in python

Variable : 
    variable is a name assigned to a memory location that stores data. Variables allow you to manipulate and store values in your programs.

In [8]:
name = "John" #here name is a variable storing string value

print('My name is ', name)

My name is  John

In [9]:
first_name = 'John'
last_name = 'Cena'

print('My name is ', first_name, last_name)

My name is  John Cena

Python has the following data types built-in by default:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In the below examples the data data type getting returned under the <> braket and class tag is the data type of that variable

In [14]:
name = "John" #String type
print(type(name)) #you can use type command to get the data type of any variable

<class 'str'>

In [15]:
age = 29  # Integer type
print('My age is', age)
print(type(age))

My age is 29
<class 'int'>

In [18]:
grade = 1.3  # float type. Note : float means non integer data
print("My grade is ", grade, type(grade))

My grade is  1.3 <class 'float'>

In [19]:
complex_num = 3 + 4j  #complex type
print(type(complex_num))

<class 'complex'>

In [22]:
b = True  #boolean type
c = False
print("Data type of var b and c respectively", type(b), type(c))

Data type of var b and c respectively <class 'bool'> <class 'bool'>

Moving into the most widely used sequence, mapping and set data types

In [24]:
a = ["John", "Thomas", "Rahul", "Kathrin"]  #list type
print(type(a), a)

<class 'list'> ['John', 'Thomas', 'Rahul', 'Kathrin']

In [29]:
# you can return a specific element from a list by passing its index into a square bracket

'''In case a python the index/position of elements within any sequence data type starts from zero
So if you want to call the very first element of a list or tuple you have to pass 0 not 1 into the
square brackets'''

print(a[1])

Thomas

In [31]:
'''List are mutable, which means you can change any element'''

a[1] = "Javed"  # Here the previous element at index 1 that is "Thomas" will be replaced my "Javed"
print(a)

['John', 'Javed', 'Rahul', 'Kathrin']

In [32]:
b = ["Mona", "Julia", "Rohit"]

In [34]:
c = a + b # concateneting two lists
print(c)

['John', 'Javed', 'Rahul', 'Kathrin', 'Mona', 'Julia', 'Rohit']

In [36]:
# use len command to get the length of a list

print("length of list c is ", len(c))

length of list c is  7

In [44]:
'''index error will be thrown if you try to access any element with index number same or greater
than the length of the list'''

print(c[7])

IndexError: list index out of range

In [50]:
c.append("Sonia") #adding elements to the list from last

In [54]:
print(c)

['John', 'Javed', 'Rahul', 'Kathrin', 'Mona', 'Julia', 'Rohit', 'Sonia']

In [55]:
c.insert(3, "Deb") #adding element to the list using a specific index position

In [56]:
print(c)

['John', 'Javed', 'Rahul', 'Deb', 'Kathrin', 'Mona', 'Julia', 'Rohit', 'Sonia']

In [57]:
'''To delete elemets from a list you can use either pop or del. Pop is also return the value
of the deleted element after deleting it'''

c.pop()  #if no index is mentioned pop will delete the last element

'Sonia'

In [59]:
print(c)

['John', 'Javed', 'Rahul', 'Deb', 'Kathrin', 'Mona', 'Julia', 'Rohit']

In [60]:
c.pop(2)  #will delete the element at index 2

'Rahul'

In [61]:
print(c)

['John', 'Javed', 'Deb', 'Kathrin', 'Mona', 'Julia', 'Rohit']

In [62]:
del c[1] #you can use the del command to delete element from a specific index position

In [63]:
print(c)

['John', 'Deb', 'Kathrin', 'Mona', 'Julia', 'Rohit']

In [65]:
'''Remove command can be used to delete any element using its value not its index'''

c.remove("Mona")
print(c)

['John', 'Deb', 'Kathrin', 'Julia', 'Rohit']

In [97]:
a = ('John', 'Deb', 'Kathrin', 'Julia', 'Rohit')  #Tuple type
print(type(a))

<class 'tuple'>

In [98]:
'''Tuples are immutale unlike list that means you cannot change any element within an 
defined tuple. If you try to do so you get a Type error'''

a[2] = "Aru"

TypeError: 'tuple' object does not support item assignment

In [99]:
print(a)

('John', 'Deb', 'Kathrin', 'Julia', 'Rohit')

In [100]:
'''tuples are immutable, which means you cannot modify them once they are created. 
However, you can create a new tuple by concatenating or combining existing tuples with the 
elements you want to add'''

a = a + ("Mona",)

In [101]:
print(a)

('John', 'Deb', 'Kathrin', 'Julia', 'Rohit', 'Mona')

In [102]:
'''Since tuples are immutable, you cannot directly remove any element from the tuple. But you can
convert a tuple to list using list command and the remove the element you want to and the again
convert the list back to tuple'''

a = list(a)

In [103]:
a.remove("Rohit")

a = tuple(a)

print(a)

('John', 'Deb', 'Kathrin', 'Julia', 'Mona')

In [ ]:
"""how to I write a code command line friendly and input , output statement"""

In [33]:
a = {'John', 'Deb', 'Kathrin', 'Julia', 'Rohit'} ## set type

In [34]:
print(type(a))

<class 'set'>

In [35]:
'''Sets are unordered collection of unique elements'''

a = {'John', 'Deb', 'Kathrin', 'Julia', 'Rohit', 'Deb'}

In [36]:
'''The above set contains 'Deb' 2 times but it won't store repetating elemets, hence when we print
the set we get only the collection of unique elements'''

print(a)

{'John', 'Deb', 'Julia', 'Kathrin', 'Rohit'}

In [37]:
'''Set can be used to get the unique elements from a list and tuple'''

my_list = ['John', 'Deb', 'Kathrin', 'Julia', 'Rohit', 'Deb']

my_set = set(my_list) # converting the list to set to get the unique elements of the list

my_list = list(my_set)

print(my_list)

['John', 'Deb', 'Julia', 'Kathrin', 'Rohit']

In [38]:
'''Remember that sets are mutable, and can be modified by adding or removing elements. 
If we need an immutable version of a set, we can use the frozenset type'''

print(a)

a.add('Monica')

print(a)

a.add('Arunima')

print(a)

{'John', 'Deb', 'Julia', 'Kathrin', 'Rohit'}
{'John', 'Monica', 'Deb', 'Julia', 'Kathrin', 'Rohit'}
{'John', 'Monica', 'Deb', 'Julia', 'Kathrin', 'Arunima', 'Rohit'}

In [19]:
'''In the above add operations we can see that there is not specific way by which the elements are
added is set like from the end or from the start of the set. Elements are added in a random fashion#
because set is an unordered data type'''

'In the above add operations we can see that there is not specific way by which the elements are\nadded is set like from the end or from the start of the set. Elements are added in a random fashion#\nbecause set is an unordered data type'

In [39]:
print(a)

a.remove('Rohit') # removing 'Rohit' from  the set
print(a)

{'John', 'Monica', 'Deb', 'Julia', 'Kathrin', 'Arunima', 'Rohit'}
{'John', 'Monica', 'Deb', 'Julia', 'Kathrin', 'Arunima'}

In [40]:
'''Since sets are unordered, its not possible to access an element using its index and if we
try to do so we get an TypeError'''

print(a)

a[1]

{'John', 'Monica', 'Deb', 'Julia', 'Kathrin', 'Arunima'}

TypeError: 'set' object is not subscriptable

In [44]:
print(a)

a_frozen = frozenset(a) # converting a set to frozen set to make it immutable and hence add and
                        # remove operations won't work

{'John', 'Monica', 'Deb', 'Julia', 'Kathrin', 'Arunima'}

In [45]:
print(a_frozen)

frozenset({'Kathrin', 'Arunima', 'John', 'Monica', 'Deb', 'Julia'})

In [46]:
a_frozen.add('Philipp')

AttributeError: 'frozenset' object has no attribute 'add'

Moving to Mapping Type. That is playig with dictionaries

In [47]:
my_dictionary = {'name' : 'Deb', 'age' : 29, 'nationality' : 'Indian', 'coding_skill' : 'python'}

In [49]:
print(type(my_dictionary)) # Dictionary data type

<class 'dict'>

In [59]:
'''Dictionaries in python are unordered collection of elements like sets. Dictionaries are always
a combination of key-values pairs, for example in the above example 'name','age','nationality',
'coding_skill' are keys and 'deb', 29, 'Indian', 'python' are their corresponding values'''

'''Keys in Dictionaries must be unique and they are immutable but dictionaries as a whole is 
mutable'''

'Keys in Dictionaries must be unique and they are immutable but dictionaries as a whole is \nmutable'

In [52]:
print(my_dictionary)

{'name': 'Deb', 'age': 29, 'nationality': 'Indian', 'coding_skill': 'python'}

In [58]:
'''to get a element in dictionary we must use its key instead of index as dictionaries are 
unordered'''

print(my_dictionary['name'])

Deb

In [62]:
'''Adding an new key values pair'''

my_dictionary['sports'] = 'football'

print(my_dictionary)

{'name': 'Deb', 'age': 29, 'nationality': 'Indian', 'coding_skill': 'python', 'sports': 'football'}

In [63]:
'''Replacing a value of a key'''

my_dictionary['age'] = 27

print(my_dictionary)

{'name': 'Deb', 'age': 27, 'nationality': 'Indian', 'coding_skill': 'python', 'sports': 'football'}

In [64]:
'''For removing an element from a dictionary we can use both del and pop command just like list'''

print(my_dictionary)

del my_dictionary['age']

print(my_dictionary)

{'name': 'Deb', 'age': 27, 'nationality': 'Indian', 'coding_skill': 'python', 'sports': 'football'}
{'name': 'Deb', 'nationality': 'Indian', 'coding_skill': 'python', 'sports': 'football'}

In [69]:
'''When using pop we need to pass the key we want to delete. We can use None as the 2nd 
argument if incase we don't know whether the key is present or not and to avoid Key Error'''

my_dictionary.pop('age', None)

print(my_dictionary)

{'name': 'Deb', 'nationality': 'Indian', 'coding_skill': 'python', 'sports': 'football'}

In [71]:
my_dictionary.pop('nationality', None)

print(my_dictionary)

{'name': 'Deb', 'coding_skill': 'python', 'sports': 'football'}